
<div class="row">
    <div class="col-md-12">
        <div class="p-0 text-center">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    <img src="../assets/images/{{logo}}" class="img-thumbnail" alt="logo-image">
                </div><br>

                <div class="">
                    <h4 class="m-b-5">{{company_name}}</h4>
                    <p class="text-muted">{{website}}</p>
                </div>

                <p class="text-muted m-t-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed venenatis orci, sit amet efficitur urna. Nunc at est euismod, tempus ex eget, tristique metus. Sed porta lectus in volutpat placerat. Quisque quis quam ligula. Proin vestibulum malesuada nibh sed tristique. In posuere nisi et nibh bibendum laoreet. Curabitur at tortor et ex porttitor imperdiet.
                </p>    
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <!-- Contact-Information -->
        <div class="panel panel-default panel-fill">
            <div class="panel-heading">
                <h3 class="panel-title">Contact Information</h3>
            </div>
            <div class="panel-body">
                <div class="m-b-20">
                    <strong>Recruiter Name</strong>
                    <br>
                    <p class="text-muted">{{first_name}} {{last_name}}</p>
                </div>
                <div class="m-b-20">
                    <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">{{phone_number}}</p>
                </div>
                <div class="m-b-20">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">{{email}}</p>
                </div>
                 <div class="m-b-20">
                    <strong>Website</strong>
                    <br>
                    <p class="text-muted">{{website}}</p>
                </div>
                <div class="about-info-p m-b-0">
                    <strong>Location</strong>
                    <br>

                    <p class="text-muted">{{address}} <br> {{city}}, {{state}} {{zip}}</p>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <!-- Personal-Information -->
        <div class="panel panel-default panel-fill">
            <div class="panel-heading">
                <h3 class="panel-title">Veteran Matches</h3>
            </div>
            <div class="panel-body">

                <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">John Doe</button><br><br>

                <p>Matching Skills- Research, Office, Typing skills.</p>

                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                <h4 class="modal-title" id="myModalLabel">Information</h4>
                            </div>

                            <div class="modal-body">

                                <p><strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">Johnathan Deo</p>
                                </div>
                                <div class="m-b-20">
                                    <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted">(123) 123 1234</p>
                                </div>
                                <div class="m-b-20">
                                    <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">johnath@domain.com</p>
                                </div>
                                <div class="about-info-p m-b-0">
                                    <strong>Location</strong>
                                    <br>
                                    <p class="text-muted">USA</p></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>

                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <br><br>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">Job Postings</h3>
                </div>
                <div class="panel-body">

                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"style="float: right">Add Job Posting</button>

                    <!--  Job Member Modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myLargeModalLabel">Add a Job</h4>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                          <div class="row">

                                <form method="POST" action="/api/addjob" id="team-form" class="form-horizontal" role="form">

                                    <div class="form-group">

                                        <label for="name" class="col-md-2 control-label">Job Title</label>
                                        <div class="col-md-9">
                                            <input name="job_title" type="text" class="form-control" id="name" placeholder="Job Title">
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label for="name" class="col-md-2 control-label">Job Description</label>
                                        <div class="col-md-9">
                                            <input name="job_description" type="text" class="form-control" id="email" placeholder="Job Description">
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label for="name" class="col-md-2 control-label">Field</label>
                                        <div class="col-md-9">
                                            <textarea name="job_skills" id="bio" cols="30" rows="10" class="form-control" placeholder="Skills"></textarea> 
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <label for="name" class="col-md-2 control-label">Company Name</label>
                                        <div class="col-md-9">
                                            <input name="company_name" type="text" class="form-control" id="name" placeholder="Company Name">
                                        </div>

                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-2"></div>

                                        <div class="col-md-9">                                            
                                            <button type="submit" class="btn btn-success">Post</button>
                                        </div>
                                    </div>
                              </form>
                          </div>
                      </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

                </div>
            </div>
        </div>
    </div>
